<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Maps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let route of routes">
      <ion-label>
        <h3>{{ route.name }}</h3>
        <p>
          {{ route.distance }} mi • {{ route.elevation }} ft • {{ route.duration }}
        </p>
      </ion-label>
      <ion-button slot="end" fill="outline" size="small" (click)="onSave(route)">
        Save
      </ion-button>
      <ion-button slot="end" fill="outline" size="small" (click)="onDetails(route)">
        Details
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="onDraw()">
    Draw your own route
  </ion-button>
</ion-content>
